<ActionBar title="Tabs Component" class="action-bar"></ActionBar>

<StackLayout>
    <GridLayout rows="auto,*">
        <WrapLayout row="0">
            <Button text="Go To About Page" [nsRouterLink]="['../about']"></Button>
            <Button text="Back()" (tap)="back()"></Button>
            <Button text="Back-To-Login(ActivatedRoute)" (tap)="backActivatedRoute()"></Button>
        </WrapLayout>
        <GridLayout row="1">
            <TabView androidTabsPosition="top">
                <page-router-outlet *tabItem="{title: 'Players Tab'}" name="playerTab">
                </page-router-outlet>

                <page-router-outlet *tabItem="{title: 'Teams Tab'}" name="teamTab">
                </page-router-outlet>
            </TabView>
        </GridLayout>
    </GridLayout>
</StackLayout>